.header {
  position: relative;
  color: var(--text-color);

  &-box {
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      justify-content: center;
      align-items: center;
      margin-top: 150px;
    }


    &-title {
      font-size: 32px;
      font-weight: 500;
      font-family: sans-serif;
      line-height: 200%;
    }

    &-logo-name {
      color: var(--primary-color);
    }

    &-info {
      font-size: 45px;
      font-family: sans-serif;
      font-weight: 700;

      &-rann-txt {
        color: var(--primary-color);
      }

      &-about {
        font-size: 20px;
        font-weight: 400;
        font-family: sans-serif;
        width: 100%;
        max-width: 700px;
        line-height: 120%;
        margin: 20px 0;

        .about-color {
          color: var(--primary-color);
        }

        &-media {
          display: flex;
          align-items: center;
          gap: 30px;
          margin-top: 40px;
          cursor: pointer;
        }
      }

      &-wrapper {
        position: relative;
      }

      &-logo {
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translateX(-50%);
        z-index: 1;
        width: 100%;
        max-width: 150px;
        animation: vue-logo 1.5s infinite alternate both;
        filter: drop-shadow(-0.25em -0.25em 50px #42b883);
      }

      @keyframes vue-logo {
        from {
          transform: translateY(-10px);
        }

        to {
          transform: translateY(10px);
        }
      }

      &-img {
        width: 100%;
        max-width: 450px;
      }

      span.cursor {
        display: inline-block;
        margin-left: 3px;
        width: 2px;
        background-color: #fff;
        animation: cursorBlink 1s infinite;
      }

      @keyframes cursorBlink {
        49% {
          background-color: #fff;
        }

        50% {
          background-color: transparent;
        }

        99% {
          background-color: transparent;
        }
      }


    }
  }
}